{% extends "base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
    <h1>Registro de Usuario</h1>
    <style>
        .login-box {
            width: 400px; /* Hacer más grande el contenido del div */
            margin: 0 auto;
            padding: 30px; /* Aumentar el padding */
            border: 1px solid #16748c;
            background-color: white;
            border-radius: 10px; /* Bordes más redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir sombra */
        }
        .login-box label {
            display: block;
            margin-bottom: 5px; /* Separar el label del input */
            font-weight: bold;
        }
        .login-box input {
            width: calc(100% - 20px); /* Ajustar el ancho del input */
            padding: 10px; /* Aumentar el padding */
            margin-bottom: 20px; /* Espaciar más los campos */
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .login-box button {
            width: 100%;
            padding: 10px;
            background-color: #16748c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .login-box button:hover {
            background-color: #145a6e;
        }
        .error-message {
            color: red;
            display: flex;
            align-items: center;
            margin-top: -15px;
            margin-bottom: 20px;
            font-size: 14px; /* Ajustar el tamaño de la fuente */
        }
        .error-message svg {
            margin-right: 10px; /* Desplazar el texto del error hacia la derecha */
            width: 1.2em; /* Hacer el SVG un poco más grande */
            height: 1.2em; /* Hacer el SVG un poco más grande */
            stroke: red; /* Asegurarse de que el SVG tenga el mismo color que el texto */
        }
        .field-error {
            border-color: red;
        }
    </style>
    <div class="login-box">
        <form method="post">
            {% csrf_token %}
            <div class="{% if form.Nombre.errors %}field-error{% endif %}">
                {{ form.Nombre.label_tag }}
                {{ form.Nombre }}
                {% for error in form.Nombre.errors %}
                    <div class="error-message">
                        <img src="{% static 'icons/alert-circle.svg' %}" alt="Error Icon" class="error-icon">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="{% if form.Apellidos.errors %}field-error{% endif %}">
                {{ form.Apellidos.label_tag }}
                {{ form.Apellidos }}
                {% for error in form.Apellidos.errors %}
                    <div class="error-message">
                        <img src="{% static 'icons/alert-circle.svg' %}" alt="Error Icon" class="error-icon">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="{% if form.DNI.errors %}field-error{% endif %}">
                {{ form.DNI.label_tag }}
                {{ form.DNI }}
                {% for error in form.DNI.errors %}
                    <div class="error-message">
                        <img src="{% static 'icons/alert-circle.svg' %}" alt="Error Icon" class="error-icon">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="{% if form.Email.errors %}field-error{% endif %}">
                {{ form.Email.label_tag }}
                {{ form.Email }}
                {% for error in form.Email.errors %}
                    <div class="error-message">
                        <img src="{% static 'icons/alert-circle.svg' %}" alt="Error Icon" class="error-icon">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <button type="submit">Registrarse</button>
        </form>
    </div>
{% endblock %}