{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sendVerificationCode.css' %}">
<div class="form-container">
    <div class="login-box">
        <h2>Restablecer PIN</h2>
        <img src="{% static 'images/Logo_crucedesalasazul.png' %}" alt="Logo">

        <div class="instructions">
            <p><strong>Instrucciones:</strong></p>
            <ul>
                <li>Introduce tu número de teléfono móvil completo y sin espacios.</li>
                <li>Recibirás un SMS con un código de verificación.</li>
                <li>Si no recibes el código, verifica tu número o asegúrate de tener señal móvil.</li>
                <li>El código es único y personal. No lo compartas.</li>
            </ul>
        </div>
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <input type="text" name="phone_number" id="phone_number" placeholder=" " required>
                <label for="phone_number">Número de teléfono</label>
            </div>
            <button type="submit">Enviar código de verificación</button>
        </form>

    </div>
</div>

{% endblock %}
