.feedback-container {
    text-align: center;
}

.ratings {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ratings img {
    transition: transform 0.2s ease;
}

.ratings img:hover {
    transform: scale(1.1);  /* Efecto de zoom al pasar el mouse */
}