<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}


{% block content %}
    <style>
        
        body {
            font-family: "Segoe UI";
            background: url("{% static 'images/fondo.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }

    </style>

    <div class="main-content">
        <h1>Bienvenido a CruceDSalas</h1>
        <p>Esta es la página inicial de la aplicación de reservas de salas.</p>
        <a href="{% url 'register' %}">Regístrate</a>
        <a href="{% url 'login' %}">Inicia Sesión</a>
    </div>
{% endblock %}

{% block auth_status %}
    {% if user.is_authenticated %}
        Bienvenido, {{ user.name }} {{ user.surname }}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    {% else %}
        No autenticado
    {% endif %}
{% endblock %}