<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}CruceDSalas - Página Inicial{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

        body {
            font-family: "Segoe UI";
            background-size: cover;
        }

        .message {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px;
            color: #EBE9E9;
            border-radius: 5px;
            z-index: 1000;
        }
        .message.success {
            background-color: #28965A; 
        }
        .message.warning {
            background-color: #F58A07; 
        }
        .message.error {
            background-color: #D33F49; 
        }

        
    
        .responsive-image {
            display: block;
            margin: 0 auto 20px; /* Centrado horizontal y separación inferior */
            max-width: 100%; /* No permite que se desborde del contenedor */
            height: auto; /* Mantiene las proporciones de la imagen */
            max-height: 300px; /* Límite de altura máxima */
            border-radius: 15px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
        }
    
        
    </style>
     {% if messages %}
     <div id="messages">
         {% for message in messages %}
             <div class="message {{ message.tags }}">{{ message }}</div>
         {% endfor %}
     </div>


     <script>
         $(document).ready(function() {
             setTimeout(function() {
                 $('#messages').fadeOut('slow', function() {
                     $(this).remove();
                     window.location.href = "{% url 'home' %}";
                 });
             }, 2500);
         });
     </script>

 {% endif %}

    <div class="main-content">
        <img src="{% static 'images/Captura.jpg' %}" alt="Logo CruceDSalas" class="responsive-image">
        <h1>Bienvenido a CruceDSalas</h1>
        <p>Esta es la página inicial de la aplicación de reservas de salas.</p>
        <a href="{% url 'register' %}">Regístrate</a>
        <a href="{% url 'login' %}">Inicia Sesión</a>
    </div>
{% endblock %}

{% block auth_status %}
    {% if user.is_authenticated %}
        Bienvenido, {{ user.name }} {{ user.surname }}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    {% else %}
        No autenticado
    {% endif %}
{% endblock %}