<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}CruceDSalas - Página Inicial{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .main-content a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #16748c;
            color: #EBE9E9;
            text-decoration: none;
            border-radius: 5px;
        }
        .main-content a:hover {
            background-color: #145a6e;
        }
        .message {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px;
            color: #EBE9E9;
            border-radius: 5px;
            z-index: 1000;
        }
        .message.success {
            background-color: #28965A; 
        }
        .message.warning {
            background-color: #F58A07; 
        }
        .message.error {
            background-color: #D33F49; 
        }
    </style>
     {% if messages %}
     <div id="messages">
         {% for message in messages %}
             <div class="message {{ message.tags }}">{{ message }}</div>
         {% endfor %}
     </div>
     <script>
         $(document).ready(function() {
             setTimeout(function() {
                 $('#messages').fadeOut('slow', function() {
                     $(this).remove();
                     window.location.href = "{% url 'home' %}";
                 });
             }, 2500);
         });
     </script>
 {% endif %}
    <h1>Bienvenido a CruceDSalas</h1>
    <p>Esta es la página inicial de la aplicación de reservas de salas.</p>
    <a href="{% url 'register' %}">Regístrate</a>
    <a href="{% url 'login' %}">Inicia Sesión</a>
{% endblock %}

{% block auth_status %}
    {% if user.is_authenticated %}
        Bienvenido, {{ user.name }} {{ user.surname }}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    {% else %}
        No autenticado
    {% endif %}
{% endblock %}