{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - CruceDSalas{% endblock %}



{% block content %}
<div class="container">
    <div class="entry-box">
        <div class="left">
            <img src="{% static 'images/Logo_crucedesalasazul.png' %}" alt="Logo CruceDSalas">
        </div>
        <div class="right">
            <div class="content-box">
                <p class="welcome-text">¡Bienvenido a CruceDSalas! Regístrate para empezar a reservar salas.</p>
                <a href="/auth/register/">Regístrate</a>
                <a href="/auth/login/">Inicia Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}