{% extends 'base.html' %}

{% block content %}

<style>
    body {
        font-family: "Segoe UI";
        background: url("{% static 'images/fondo.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }

</style>

<div class="container">
    <h2>Mis Reservas</h2>
    {% if reservas %}
    <table class="table">
        <thead>
            <tr>
                <th>Sala</th>
                <th>Fecha</th>
                <th>Hora de Inicio</th>
                <th>Hora de Fin</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.sala.nombre }}</td>
                <td>{{ reserva.fecha|date:"d M Y" }}</td>
                <td>{{ reserva.hora_inicio|date:"H:i" }}</td>
                <td>{{ reserva.hora_fin|date:"H:i" }}</td>
                <td>{{ reserva.estado }}</td>
                <td>
                    <form method="post" action="{% url 'cancelar_reserva' reserva.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tienes reservas</p>
    {% endif %}
</div>
{% endblock %}
