{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: "Segoe UI";
        background: url("{% static 'images/fondo.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }

</style>

<h2>Reservar {{ sala.nombre }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- Añadir campo asunto si no es automáticamente renderizado por {{ form.as_p }} -->

    <button type="submit">Realizar Reserva</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var fechaInput = document.getElementById('id_fecha');
        var horaInicioInput = document.getElementById('id_hora_inicio');
        var horaFinInput = document.getElementById('id_hora_fin');

        // Configurar límites de fecha
        fechaInput.min = '{{ fecha_actual|date:"Y-m-d" }}';
        fechaInput.max = '{{ fecha_limite|date:"Y-m-d" }}';

        // Configurar límites de hora
        horaInicioInput.min = '09:00';
        horaInicioInput.max = '21:00';
        horaFinInput.min = '09:00';
        horaFinInput.max = '21:00';

        // Validación adicional
        horaInicioInput.addEventListener('change', function() {
            if (horaFinInput.value && this.value >= horaFinInput.value) {
                alert('La hora de inicio debe ser anterior a la hora de fin.');
                this.value = '';
            }
        });

        horaFinInput.addEventListener('change', function() {
            if (horaInicioInput.value && this.value <= horaInicioInput.value) {
                alert('La hora de fin debe ser posterior a la hora de inicio.');
                this.value = '';
            }
        });
    });
</script>
{% endblock %}
