{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>


.container2 {
    width: 600px;
    padding: 40px;
    background-color: #EBE9E9;
    border: 2.5px solid #16748c;
    border-radius: 10px;
    box-shadow: 0 0 10px #312F2F;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #16748c;
    margin-bottom: 20px;
    text-align: center;
}
.container2 img {
    width: 80px; /* Tamaño del logo */
    margin-bottom: 10px;
}


.btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; /* Agregar margen superior para separar de otros elementos */
}

.btn {
    font-size: 2.5rem;
    transition: transform 0.2s, background-color 0.3s;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.btn-outline-success {
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
}

.btn-outline-danger {
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
}

.instructions {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #16748c;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 17px;
}

.instructions ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.instructions ul li {
    margin-bottom: 8px;
}

    
</style>

<div class="container2">
    <h2>Califica la facilidad para hacer la reserva</h2>
    <img src="{% static 'images/Logo_crucedesalasazul.png' %}" alt="Logo">
    <div class="instructions">
        <ul>
            <li>Utiliza el botón 👍 si consideras que fue fácil hacer la reserva.</li>
            <li>Si la experiencia no fue satisfactoria, utiliza el botón 👎 para calificar negativamente.</li>
            <li>Tu opinión es muy importante para nosotros, ya que nos ayudará a realizar mejoras y ajustes según la experiencia de los usuarios.</li>
        </ul>
    </div>
    <form method="POST" class="btn-group">
        {% csrf_token %}
        <button type="submit" name="valoracion" value="positiva" class="btn btn-outline-success">
            👍
        </button>
        <button type="submit" name="valoracion" value="negativa" class="btn btn-outline-danger">
            👎
        </button>
    </form>
</div>


{% endblock %}
